@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-playfair), 'Playfair Display', serif;
}

.font-playfair {
  font-family: var(--font-playfair), 'Playfair Display', serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
